/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*= require_tree  bootstrap
*= require_tree  font-awesome
*= require_self
*/

body {
    font-size: 13px;  
}

.header {
    background-color: #0576cc;
}

.h1 {
	color: #48802c;
	font-weight: normal;
	font-size: 0.55em;
	margin: 0.8em 0 0.3em 0;
}
.menubar {
     padding: 5px 0;


 }

.mainbody {
    min-height: 650px;
}

.menubar li  a{
    background-color: #b9def0;
    border: 1px solid #0576cc;
}

.menubar li.selected a {
    background-color: #0576cc;
    border: 1px solid #0576cc;
}



.product {
    font-size: 2em;
    text-align: left;
    color: #ffffff;
}

.highlight {
    background: #0576cc;
    color: #ffffff;
}

.actiondiv {
    padding: 5px;
    margin: 5px 0 0;
    border: 1px solid #0576cc;
    border-radius: 5px 5px 0 0;
}

.searchdiv  {
    border: 1px solid #0576cc;
    border-radius: 5px;
}

.searchLabel {
    color: #ffffff;
    background-color: #0576cc;
    padding: 5px;
}

.searchform {
    padding: 5px;
    overflow: auto;
}

.searchform .form-group {

}

.inlineform {
    display: inline;
}

.CSPTransaction {
    overflow: auto;
}

.CSPTransaction li {
    width: 50%;
    float: left;
}

.createcase-form {
    overflow: auto;

}
.createcase-form .form-group {
    width: 100%;

}

.CASEForm {
   width: 50%;
}

.CASEForm .property-label, .case-inner-form .property-label {
    width: 150px;
}


.case-inner-form {
    width: 400px;
    float: left;
}
.create-case-buttons {
   width: 400px;
   float: left;
   margin-top: 20px;
}

.create-case-buttons button {
    width: 100px;
}

.create-case-buttons button {
    display: block;
    margin-bottom: 5px;
}

#editor {overflow:scroll; max-height:300px}

#show-CSPTransaction {
    min-height: 500px;
}

.user-panel {
    text-align: right;
    padding-bottom: 5px;
}

.formpanel {

}

.buttonpanel {
   text-align: center;
    padding: 0 0  5px;
}

.buttonpanel button {
    width: 100px;
}

.paginate {
    width: 250px;
    text-align: center;
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
}

.paginate .currentStep {
    padding: 2px 6px;
    border-radius: 2px;
    margin-right: 5px;
    background-color: #0576cc;
    color: #ffffff !important;

}

.paginate .step {
    padding: 2px 6px;

}

.paginate .nextLink {

}

.footer {
    padding: 10px;
    background-color: #0576cc;
    color: #ffffff;
    margin-top: 10px;
}

.container .table thead th {
    font-size: 13px;
}

.container table tr td {
    border-bottom: 1px solid #0576cc !important;
    font-size: 12px;
}

.container table tr td, .container table thead th {
    padding: 2px;
}

.container .table {
    margin-bottom: 0px;
}

.container table thead th {
    border-bottom: 2px solid #0576cc !important;
}

.table-container {
    border: 1px solid #0576cc;
    border-top: 0;
}

.search-row {
    padding: 5px 0;
}

.nav > li > a {
    padding: 7px 12px;
}

.property-list {
   margin: 0.6em 1.25em 0 1.25em;
    padding: 0.3em 1.8em 1.25em;
    position: relative;
    zoom: 1;
    border: none;
   display: inline;
}

.property-list .fieldcontain {
	 margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    zoom: 1;
    
}

.fieldcontain {
    margin-top: 5px;
  
}

.fieldcontain label,
.fieldcontain .property-label {
    color: #666666;
    text-align: left;
    width: 25%;
}

.fieldcontain .property-label {
    float: left;
    font-weight: bold;
}

.fieldcontain .property-value {
    display: block;
    margin-left: 27%;
}

#txtEditor {
    width: 400px;
    height: 200px;
}

.logo {
    padding: 5px 0 5px 5px;
}

.check-field {
	width: 260px;
	float: left;
}

.modal-body {
	overflow: auto;
}

.modal-dialog {
  margin-top: 150px;
}


.error {
border: 1px solid;
margin: 1px 0px;
padding:5px 5px 5px 10px;
background-repeat: no-repeat;
background-position: 10px center;

color: #D8000C;
background-color: #FFBABA;
//background-image: url('error.png');
}


/* jeff's startup work */
/*
Freddie Mac Colors
#0462aa blue
#4fa500 green
#0093dd ltblue
*/

body {margin:5px; padding:0}
header {margin-bottom:2px}

header #user {
	background-color:black; 
	color:white; 
	padding:2px 8px; 
	margin-bottom:5px;
}
header #brand {
	font-size:1.5em;
	font-weight:bold;
	background: #00368E url(../images/generic_app_hdr_bg.gif) no-repeat 145px top;
	color:white;
	margin:0;
	padding:0;
	height:82px;
}
header #logo  {
	background:  url(../images/freddie_mac_logo.gif) no-repeat  ;
	height:82px;
	width:145px;
 	border-right:5px solid white;
	float:left;  
	margin:0; padding:0
}
header h1 {
	margin:0; padding:25px 0 0 175px; font-size:1.3em; vertical-align:middle
}

header a {
	color:white; text-decoration:none
}
header hr {
	color:black; margin:5px 0; height:5px; color:black; background-color:black
} 

h2 {color:#D97600}

footer {
	color:gray; 
	padding:2px 8px;
	margin-top:10px;
	margin-bottom:4px;
}
footer a {color:gray; text-decoration:none}

.table-compressed > thead > tr > th,
.table-compressed > tbody > tr > th,
.table-compressed > tfoot > tr > th,
.table-compressed > thead > tr > td,
.table-compressed > tbody > tr > td,
.table-compressed > tfoot > tr > td {
  padding: 2px 4px;
}

#pagination, #poolJump {text-align:right; margin:10px}

.oversized {overflow:auto; margin:0 10px}

.number{text-align:right}

.container-fluid { overflow-x: hidden;} /* fix for vertical scrollbar bug */

div.alert-danger ul {list-style: none; padding: 0}

.property-label {width:30% !important; text-align:right !important}
